* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-color: #f5f5f4;
  font-weight: 400;
  color: #000;
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 40px;
}

section {
  margin-bottom: 20px;
}

h1 {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 4px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 4px;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 4px;
}

a {
  display: inline-block;
  text-underline-offset: 5px;
  font-weight: 400;
  font-size: 16px;
}

ul,
ol {
  line-height: 26px;
  margin-left: 30px;
}

img {
  padding: 15px 0;
}

a:hover {
  color: blue !important;
  transform: translateY(-1px);
  transition: transform 0.3s ease;
}

h3 > a {
  font-size: inherit;
  color: black;
  font-weight: 400 !important;
  text-underline-offset: 8px;
}

h4 > a {
  font-size: inherit;
  color: black;
  font-weight: 400 !important;
  text-underline-offset: 8px;
}

.space-x-2 > * + * {
  margin-left: 6px;
}

.mb-2 > * + * {
  margin-bottom: 6px;
}

#more {
  margin: 10px 30px;
  color: #000;
}


